name: CI/CD - Release

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set PROJECT_NAME
        run: echo "PROJECT_NAME=runner" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Determine next version
        id: determine_version
        run: |
          NEXT_VERSION="0.1.0"
          if [[ -n "${{ env.commits }}" ]]; then
            NEXT_VERSION="0.1.1"  # Update this based on your logic
          fi
          echo "NEXT_VERSION=${NEXT_VERSION}" >> $GITHUB_ENV

      - name: Run tests
        run: make test

      - name: Run build
        run: make build

      - name: Package binaries
        run: |
          platforms=(
            "aix/ppc64"
            "android/386"
            "android/amd64"
            "android/arm"
            "android/arm64"
            "darwin/amd64"
            "darwin/arm64"
            "dragonfly/amd64"
            "freebsd/386"
            "freebsd/amd64"
            "freebsd/arm"
            "freebsd/arm64"
            "freebsd/riscv64"
            "illumos/amd64"
            "ios/amd64"
            "ios/arm64"
            "js/wasm"
            "linux/386"
            "linux/amd64"
            "linux/arm"
            "linux/arm64"
            "linux/loong64"
            "linux/mips"
            "linux/mips64"
            "linux/mips64le"
            "linux/mipsle"
            "linux/ppc64"
            "linux/ppc64le"
            "linux/riscv64"
            "linux/s390x"
            "netbsd/386"
            "netbsd/amd64"
            "netbsd/arm"
            "netbsd/arm64"
            "openbsd/386"
            "openbsd/amd64"
            "openbsd/arm"
            "openbsd/arm64"
            "openbsd/ppc64"
            "plan9/386"
            "plan9/amd64"
            "plan9/arm"
            "solaris/amd64"
            "wasip1/wasm"
            "windows/386"
            "windows/amd64"
            "windows/arm"
            "windows/arm64"
          )

          for platform in "${platforms[@]}"; do
            GOOS=${platform%/*}
            GOARCH=${platform#*/}
            file_ext=".tar.gz"
            if [ "$GOOS" = "windows" ]; then
              file_ext=".zip"
            fi
            if [ -f "./build/${GOOS}/${GOARCH}/${{ env.PROJECT_NAME }}" ]; then
              VERSION=${{ env.NEXT_VERSION }}
              PACKAGE_NAME="${{ env.PROJECT_NAME }}_${VERSION}_${GOOS}_${GOARCH}${file_ext}"
              tar -czvf "$PACKAGE_NAME" -C ./build ./${{ env.PROJECT_NAME }}_${GOOS}_${GOARCH}
            else
              echo "Skipping packaging for $GOOS/$GOARCH as the binary does not exist."
            fi
          done
        working-directory: ${{ github.workspace }}

      - name: Get version
        id: get_version
        run: |
          echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
          echo ${{ VERSION }}

      - name: Generate changes file
        uses: sarnold/gitchangelog-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          PROJECT_NAME: ${{ env.PROJECT_NAME }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: CHANGES.MD
          tag_name: "${{ env.NEXT_VERSION }}"
          name: "Release ${{ env.NEXT_VERSION }} (${{ env.RELEASE_DATE }})"
          files: |
              ./*.tar.gz
              ./*.zip
